body{
    background-color:#6EFF61;
    font-family: 'Big Shoulders Display', sans-serif;
}

h1{
    color:black;
    text-align:center;
    font-family: 'Big Shoulders Display';
    font-size:250px;
}

p{
    font-size:50px;
    float:inline-start;
}
