body{
    background-color:#6EFF61;
    font-family: 'Big Shoulders Display', sans-serif;
}

h1{
    color:black;
    text-align:center;
    font-family: 'Big Shoulders Display';
    font-size:250px;
}

a{
    color:black;
    text-decoration: none;
}

nav a{
    font-size:100px;
}

a{
    font-size:100px;
}

p{
    font-size:40px;
    float:inline-start;
}

img{
    float:left;
    width: 700px;
}