body{
    background-color:#6EFF61;
    font-family: 'Big Shoulders Display', sans-serif;
}

/*h1{
    color:black;
}*/

a{
    color:black;
    text-decoration: none;
}

nav a{
    font-size:100px;
}

a{
    font-size:100px;
}

div{
    vertical-align:middle;
}